@media (max-width:873px) {
    .header {
        font-size: 12rem;
    }

    .section {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 2.0vh;
    }

    .nav {
        width: 80vw;
    }

    .div-info {
        font-size: 15rem;
        padding: 2%;
        width: 70vw;
        height: 12.5vh;
    }

    .div-player {
        font-size: 12rem;
        width: 80vw;
        height: 12vh
    }

    .foto {
        margin: 1.3%;
        margin-right: 3%;
        width: 13.86vw;
        max-width: 80px;
        max-height: 80px;
    }

    .foto:hover {
        border: solid 5px rgb(255, 0, 0);

    }

    .div-player strong {
        font-size: 22rem;
    }

    .civ-sorteada {
        width: 15.93vw;
        max-width: 96px;
        height: 8.9vh;
        max-height: 96px;
    }

    .grid {
        display: none;
    }

    .add-player {
        order: 1;
        width: 65px;
        height: 65px;
    }

    /* js */

    .pop-up {
        display: none;
        top: 160;
        border: solid rgb(148, 148, 20) 1px;
        width: 95vw;
        height: 35vh;
        
    }

    h2 {
        margin-bottom: 5vh;
        width: 95vw
    }

    .nome-jogador {
        margin-bottom: 5vh;
        border-bottom: solid 0.5px rgb(148, 148, 20);
    }

    .nome-jogador:focus {
        border-bottom: solid 1.5px rgb(207, 207, 20);
    }

    .btn-criar {
        padding: 0.1vh 5vw;
        margin-bottom: 1vh;

    }

    .btn-fechar {
        padding: 0.2vh 1.5vw;
        border: solid 1px rgb(148, 148, 20);
        margin-bottom: 0;
    }

}